* {
    margin: 0;
    padding: 0;
    color: #ffff;
    font-family: var(--letra-secundario);
}

:root {
    --color-fondo: #1b2832;
    --color-fondo-secundario: #111e27;
    --color-nav: #113245;
    --color-lila: rgb(95, 0, 168);
    --color-amarillo-oscuro: #414100;
    --color-celeste: #004f76;
    --letra-principal: "Titan One", sans-serif;
    --letra-secundario: "Schibsted Grotesk", sans-serif;
    --color-linear: linear-gradient(to left,
            var(--color-lila) -30%,
            #4d0088,
            #424200);
    --tamaño-letra-principal: ;
}

.sobremi__title,
.proyectos__title,
.conocimientos__title,
.contacto__title {
    /*font-family: var(--letra-principal);*/
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.sobremi,
.proyectos,
.conocimientos,
.contacto {
    padding: 100px;
    box-sizing: border-box;
}

body {
    background: var(--color-fondo);
}

header {
    position: fixed;
    z-index: 2;
}

.nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 60px;
    box-sizing: border-box;
    font-family: var(--letra-secundario);
}

header.scroll,
.footer {
    background-color: var(--color-nav);
}

.nav h1 {
    color: rgb(255, 255, 255, 0.3);
}

.nav__ul {
    display: flex;
}

.nav__li {
    font-size: 15px;
    padding: 15px;
    list-style-type: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255, 0.3);
}

.nav__li a {
    text-decoration: none;
}
.nav_responsive-ul{
    display: none;
}

.inicio {
    max-width: 100vw;
    height: 100vh;
    padding: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: var(--color-fondo);
}

.avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.avatar__animation {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.avatar__animation .one {
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(to right, transparent 0%, var(--color-lila));
    animation: animate_one 2s linear infinite;
}

@keyframes animate_one {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.avatar__animation .two {
    position: absolute;
    width: 375px;
    height: 390px;
    border-radius: 50%;
    background: linear-gradient(to left, transparent 0%, #424200);
    animation: animate_two 3s linear infinite;
}

@keyframes animate_two {
    0% {
        transform: rotate(-0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.avatar__img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--color-fondo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar__img img {
    width: 250px;
    object-fit: contain;
}

.presentacion {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.presentacion__content {
    font-size: 30px;
    font-family: var(--letra-secundario);
    font-weight: 600;
}

.presentacion__name {
    font-size: 66px;
    color: var(--color-lila);
    font-family: var(--letra-principal);
    font-weight: 100;
}

.presentacion__cv a {
    width: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 800;
    text-decoration: none;
    padding: 10px 15px;
    background-color: var(--color-amarillo-oscuro);
    border-radius: 15px;
    overflow: hidden;
}

.presentacion__cv a::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 200%;
    left: -30px;
    background-color: rgba(255, 255, 255, 0.06);
    transform: rotate(15deg);
    animation: animation_cv 1.8s linear infinite;
}

@keyframes animation_cv {
    100% {
        transform: translateX(220px) rotate(15deg);
    }
}

.presentacion__cv a:hover {
    background-color: var(--color-lila);
    box-shadow: 0px 0px 10px 1px var(--color-fondo-secundario);
    transition: 0.5s all;
}

.presentacion__cv a img {
    width: 25px;
}

.sobremi {
    background-color: var(--color-fondo-secundario);
}

.sobremi__content {
    margin: 25px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.sobremi__item img {
    width: 250px;
}

.sobremi__content .first__parrafo {
    width: 800px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}

.sobremi__content p span {
    color: #ccb57e;
    font-weight: 600;
}

.sobremi__content .second__parrafo {
    background-color: var(--color-nav);
    padding: 20px;
    border-radius: 5px;
}

.sobremi__span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
}

.sobremi__span span {
    padding: 5px 20px;
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(144, 0, 255, 0.119);
    /* Color de fondo con transparencia */
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.proyectos__item {
    margin-top: 25px;
}

.proyectos__card {
    height: 300px;
    margin: 50px 0px;
    display: flex;
}

.card__proyecto {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    margin-right: 20px;
    background: linear-gradient(#006da332 20%, #2f2fff2f, #9203ff3d);
}

.card__proyecto-responsive {
    display: none;
}

.card__proyecto h3 {
    text-align: center;
    margin-bottom: 10px;
}

.card__proyecto .icons {
    display: flex;
    justify-content: center;
    flex: 1;
}

.card__proyecto .icons img {
    width: 50px;
}
.card__proyecto .pantallas{
    box-sizing: content-box;
}
.pantallas img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.proyectos__repositorio {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(to left, var(--color-fondo), rgba(66, 66, 0, 0.6), #ffff0041, rgba(66, 66, 0, 0.6), var(--color-fondo));*/
}

.proyectos__repositorio a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    margin: 5px;
    text-decoration: none;
    border: 2px solid var(--color-nav);
    overflow: hidden;
    z-index: 1;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.proyectos__repositorio a:hover {
    box-shadow: 0px 0px 5px 1px var(--color-celeste);
}

.proyectos__repositorio a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0;
    left: 0;
    top: 0;
    background-color: var(--color-nav);
    z-index: -2;
}

.proyectos__repositorio a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    bottom: -150%;
    border-radius: 15px;
    background-color: var(--color-fondo);
    z-index: -1;
}

.proyectos__repositorio a:hover::before {
    animation: btn-5 2s linear both;
}

.proyectos__repositorio a:hover {
    color: #ffff;
}

@keyframes btn-5 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        bottom: 100px;
        transform: rotate(360deg);
    }
}

.proyectos__repositorio a img {
    width: 25px;
    padding-right: 5px;
}

.multimedia__card {
    overflow: hidden;
    margin: 50px 0px;
}

.multimedia__card p {
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.card__multimedia {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.card__multimedia svg {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: #1a4057;
    border-radius: 50%;
    cursor: pointer;
    fill: #ffff;
    box-shadow: 0px 0px 1px 0.2px #111e27;
}

.card__multimedia svg:first-child {
    left: 0px;
}

.card__multimedia svg:last-child {
    right: 0px;
}

.carrusel__flyers,
.carrusel__propuesta,
.carrusel__flyers-propio {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 15px;
    cursor: pointer;
}

.carrusel__propuesta {
    background: linear-gradient(to right,
            var(--color-fondo),
            transparent,
            transparent,
            var(--color-fondo));
}

.carrusel__propuesta img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    z-index: -1;
}

.carrusel__propuesta img:first-child {
    margin-left: 150px;
}

.carrusel__propuesta img:last-child {
    margin-right: 150px;
}

.carrusel__flyers {
    width: 100%;
    height: 400px;
}

.carrusel__flyers img,
.carrusel__flyers-propio img {
    width: 400px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: -1;
}

.carrusel__videos img {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    z-index: -1;
}

.card__botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conocimientos {
    background-color: var(--color-fondo-secundario);
}

.conocimientos__content {
    margin: 50px 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.conocimientos__content img {
    width: 80px;
    padding: 15px 25px;
}

.conocimientos__content img:hover {
    mask-image: linear-gradient(to left, red 90%, transparent 100%);
}

.github {
    fill: #ffff;
}

.contacto__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 50px;
    /*border: 2px solid var(--color-nav);*/
    background: linear-gradient(var);
    gap: 25px;
}

/*.contacto__content .p{
    margin: 30px;
    text-align: center;
}
.contacto__content .p p{
    margin: 10px;
    color: rgb(255, 255, 255, 0.5);
}*/

.content__form {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.content__form p {
    max-width: 250px;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.contacto__content img {
    width: 225px;
    mask-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 1),
            rgba(27, 40, 50, 0.049),
            rgba(27, 40, 50, 0));
    /* Gradiente de máscara */
}

/*.contacto__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.contacto__form input{
    width: 800px;
    height: 25px;
    padding: 25px 20px;
    border-radius: 15px;
    border: 3px solid var(--color-lila);
    position: relative;
    background-color: var(--color-fondo);
    box-sizing: border-box;
}
input:focus, textarea:focus {
    box-shadow: 0px 0px 10px 1px var(--color-celeste);
    outline: none; 
    transition: 0.5s all;
}
.contacto textarea{
    width: 800px;
    padding: 25px 20px;
    border-radius: 15px;
    border: 3px solid var(--color-lila);
    background-color: var(--color-fondo);
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
}
.contacto__button{
    display: flex;
    justify-content: center;
}
.contacto__form button{
    padding: 20px 100px;
    background-color: var(--color-amarillo-oscuro);
    border: none;
    border-radius: 3px;
    font-size: 16px;
    color: rgb(255, 255, 255, 0.3);
    margin-top: 10px;
}
.contacto__form button:hover{
    background-color: var(--color-lila);
    box-shadow: 0px 0px 15px 1px var(--color-nav);
    color: #ffff;
    transition: 1s;
}f*/
.footer {
    height: 70px;
    padding: 0px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.footer h5 {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.redes-sociales {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.redes-sociales a svg,
.redes-sociales a img {
    width: 35px;
    height: 35px;
    transition: 1s all;
    padding: 5px;
    mask-image: none;
}

.redes-sociales a svg {
    fill: #ffff;
}

.redes-sociales a img:hover {
    background-color: var(--color-lila);
}

.redes-sociales svg:hover,
.redes-sociales a img:hover {
    box-shadow: 0px 0px 8px 5px var(--color-lila);
    background-color: var(--color-lila);
    border-radius: 5px;
}

@media (max-width: 1300px) {

    .inicio,
    .sobremi,
    .proyectos,
    .conocimientos,
    .contacto {
        padding: 60px;
        box-sizing: border-box;
    }
    .nav__ul{
        display: none;
    }
    .inicio {
        gap: 50px;
    }

    .avatar__animation {
        width: 250px;
        height: 250px;
    }

    .avatar__animation .one {
        width: 300px;
        height: 300px;
    }

    .avatar__animation .two {
        width: 325px;
        height: 340px;
    }

    .avatar__img {
        width: 250px;
        height: 250px;
    }

    .avatar__img img {
        width: 200px;
    }

    .presentacion__name {
        font-size: 50px;
    }

    .presentacion__content {
        font-size: 22px;
    }

    .sobremi__content {
        flex-direction: column;
    }

    .sobremi__content .first__parrafo {
        width: 100%;
    }
    .conocimientos__content{
        margin: 50px;
    }
}

@media (max-width: 700px) {

    .sobremi,
    .proyectos,
    .conocimientos,
    .contacto {
        padding: 50px;
        box-sizing: border-box;
    }
    .nav h1{
        font-size: 16px;
    }
    .sobremi__title,
    .proyectos__title,
    .conocimientos__title,
    .contacto__title {
        /*font-family: var(--letra-principal);*/
        text-align: center;
        font-size: 30px;
        font-weight: 900;
    }
    .proyectos__subtitle {
        font-size: 20px;
    }

    .inicio {
        flex-direction: column-reverse;
        padding: 100px 50px;
        text-align: center;
        gap: 0px;
    }

    .avatar__animation {
        width: 200px;
        height: 200px;
    }

    .avatar__animation .one {
        width: 220px;
        height: 220px;
    }

    .avatar__animation .two {
        width: 230px;
        height: 235px;
    }

    .avatar__img {
        width: 180px;
        height: 180px;
    }

    .avatar__img img {
        width: 150px;
        gap: none;
    }

    .presentacion__cv {
        display: flex;
        justify-content: center;
    }

    .sobremi__span {
        margin: 0px;
    }

    .sobremi__span span {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        text-align: center;
        background-color: rgba(144, 0, 255, 0.05);
        border: 1px solid var(--color-lila);
        color: rgb(103, 0, 182);
    }

    .card__proyecto,
    .pantallas {
        display: none;
    }

    .card__proyecto-responsive {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        border-radius: 20px;
        background: linear-gradient(rgba(0, 109, 163, 0.1) 20%, rgba(46, 46, 255, 0.1), rgba(147, 5, 255, 0.1));
    }
    .card__proyecto-responsive img {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    .responsive__content{
        padding: 30px 20px;
    }
    .responsive__content h3 {
        text-align: center;
        margin-bottom: 15px;
    }
    .responsive__content p{
        font-size: 14px;
    }
    .responsive__content .icons {
        display: flex;
        justify-content: center;
        flex: 1;
        margin-top: 30px;
    }
    
    .responsive__content .icons img {
        width: 50px;
    }
    .proyectos__repositorio{
        flex-direction: column;
    }
    .carrusel__propuesta{
        background: none;
    }
    .carrusel__propuesta img{
        width: 280px;
    }
    .carrusel__propuesta img:first-child {
        margin-left: 0px;
    }
    
    .carrusel__propuesta img:last-child {
        margin-right: 0px;
    }
    .carrusel__flyers img{
        width: 100%;
        object-fit: scale-down;
    }
    .conocimientos__content{
        margin: 50px 0px;
    }
    .contacto__content img {
        width: 150px;
        align-self: center;
    }
    .content__form p {
        max-width: none;
        text-align: center;
        font-size: 14px;
    }
    .content__form{
        flex-direction: column;
    }
    .redes-sociales{
        justify-content: center;
        margin: 20px;
    }
    .proyectos__repositorio a{
        width: 10em;
        padding: 5px 10px;
    }
}